/* aca van tus estilos valor (2 puntos)*/

:root {
    --character-list-color: #272B33; /* color de la lista de personajes */
    --character-color: #3B3E43; /* color del card del personaje */
    --primary-font-color: #F5F5F5; /* color fuente principal */
    --secondary-font-color: #67686B; /* color fuente secundaria */
    --alive: #54CB44; /* color personaje vivo */
    --unknown: #9E9E9E; /* color personaje desconocido */
    --dead: #D63D2E; /* color personaje 💀 */
    --font: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'; /* fuente principal */
}

.character-list {
    /* ejemplo de uso de variables con css */
    background-color: var(--character-list-color);
}